<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zombie and Shelters</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
<div class="topnav">
    <a href="/">Actions</a>
    <a href="/life_stats">Life</a>
    <a href="/zombies_stats">Zombies</a>
    <a href="/discovery_stats">Discovery</a>
</div>

<div class="content">
    <div><h1>Zombies and Shelters Info</h1></div>
    <p class="zombie">Robert encountered <span style="font-size: xx-large; color: red">{{n_zombies}}</span> zombies</p>
    <p class="zombie">Robert discovered  <span style="font-size: xx-large; color: green">{{n_shelters}}</span> shelters</p>
</div>
</body>
</html>